/* color scheme of portfolio website */
$accent-color-gold:rgba(202, 158, 12, 0.9);
    $accent-color-purple: rgba(60, 12, 82, 0.9);
    $primary-color-white:whitesmoke;
    $primary-color-black: rgba(20, 20, 22,0.8);
    $primary-color-blackish:#1F1D24;

*{
    font-family: 'Lato', sans-serif;    
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: content-box;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/*disable textarea resizing*/
textarea{
    resize: none;
}

/*projects*/
.card-deck{
    display: flex;
    
    .card{
        margin: 0.5em;
        width: 30rem;
    }
    .card-body{
        color: #F5F5F5;
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }
    .card-footer{
        padding-bottom: 1.5em;
        padding-left: 2rem;
        padding: 2em;
        border: 0px solid transparent;
    }
}

.desc-title{
    width:50em;
}

/*quotes*/
.quotes:before{
    content:'\201C';
}

.quotes:after{
    content:'\201D';
}

/* button style */
.button{
    cursor: pointer;
    display: inline-flex;
    align-items: center; 
    isolation: isolate;
    position: relative;
    font-weight: bold;
    background: 0;
    position: relative;
    transition: color 400ms linear;
    padding: 0.7rem 0.7rem;

    span{
        margin-right:0.4em;
    }
}

.button-text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-white::after{
    background-color:$primary-color-white;
}

.button-black::after{
    background-color:$primary-color-black;
}


.button::after{
    content:'';
    inset:0;
    z-index:-1;
    position: absolute;
    transform: scale(0,1);
    transition: transform 800ms ease;
    transform-origin: left;
}

.button:hover::after,.button:focus::after,.button:active::after{
    transform: scale(1,1);
}

.button-white{
    border:0.15em solid $primary-color-white;
    color:$primary-color-white;
}

.button-black{
    border:0.15em solid $primary-color-black;
    color:$primary-color-black;
}

.button-white:hover,.button-white:focus::after,.button-white:active,.button-white:active::after{
    color: $primary-color-black;
}

.button-black:hover,.button-black:focus::after,.button-black:active,.button-black:active::after{
    color: $primary-color-white;
}

.button-purple{
    border:0.242rem solid $accent-color-purple;
    color:  $accent-color-purple;
}

.button:active,.button:focus{
    text-decoration:underline 5px solid;
}

/* image */
.me{
    background-color: transparent;
    width: 28em;
}
.img-art{
    min-width: 15rem;
    max-width: 23rem;
    image-rendering: optimizeQuality;
}
.me-round{
    border-radius: 100%;
    min-width: 15em;
    max-width: 20em;
    image-rendering: optimizeQuality;
}

.icon{
    width:  calc(((0.7vh + 1rem) + (0.7vw + 1rem))/2);
    height: calc(((0.7vh + 1rem) + (0.7vw + 1rem))/2);
    margin:auto 0;
}

/*margin in division*/
.top-padding-none{
    padding-top:0px;
}

.top-padding-xxsmall{
    padding-top:1em;
}

.top-padding-xsmall{
    padding-top:1.5em;
}
.top-padding-small{
    padding-top: 5em;
}

.top-padding-medium{
    padding-top: 10em;
}

.top-padding-large{
    padding-top: 15em;
}

.bottom-padding-none{
    padding-bottom:0px;
}

.bottom-padding-xxsmall{
    padding-bottom:1em;
}

.bottom-padding-xsmall{
    padding-bottom:1.5em;
}
.bottom-padding-small{
    padding-bottom: 5em;
}

.bottom-padding-medium{
    padding-bottom: 10em;
}

.bottom-padding-large{
    padding-bottom: 15em;
}

.top-margin-none{
    margin-top:0px;
}

.top-margin-xxsmall{
    margin-top:1em;
}

.top-margin-xsmall{
    margin-top:1.5em;
}
.top-margin-small{
    margin-top: 5em;
}

.top-margin-medium{
    margin-top: 10em;
}

.top-margin-large{
    margin-top: 15em;
}

.bottom-margin-none{
    margin-bottom:0px;
}

.bottom-margin-xxsmall{
    margin-bottom:1em;
}

.bottom-margin-xsmall{
    margin-bottom:1.5em;
}

.bottom-margin-small{
    margin-bottom: 5em;
}

.bottom-margin-medium{
    margin-bottom: 10em;
}

.bottom-margin-large{
    margin-bottom: 15em;
}


/*padding*/

.padding-vertical-none{
    padding-left:0px;
    padding-right: 0px;
}

.padding-vertical-xxsmall{
    padding-left: 1em;
    padding-right: 1em;
}

.padding-vertical-xsmall{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.padding-vertical-small{
    padding-left: 5vw;
    padding-right: 2vw;
}

@media  screen and (max-width:997px) {
    .padding-vertical-small{
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

.padding-vertical-medium{
    padding-left: 6em;
    padding-right: 6em;
}

.padding-vertical-large{
    padding-left: 15em;
    padding-right: 15em;
}


.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}


/* carousel */

.main-carousel{
    background-color: $primary-color-blackish;
    height: 80%;
    .mx-auto{
        width: 70%;
    }
    button:hover{
        background-color: $primary-color-blackish;
    }

}

/* buttons of social media */
.social-media-buttons{
    text-align: center;
    a{
        margin-bottom:0.5em;
        margin-left: 0.6em;
    }
    .btn-dark,.btn:hover{
        background-color: $primary-color-blackish;
        border: solid #1F1D24;
    }
}

/* intro */
.container-sm{
    padding: 0;
}
.container{
    padding: 0;
}

#introduction{
    padding-top: 20em;
}


/*background text logo*/
#introduction:before {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    font-weight: bolder;
    content: "JAYSON";
    position: absolute;
    color: rgba(43, 41, 48, 0.34);
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    font-size: 23vw;
    text-align: center;
    font-family: roboto, san-serif;
    letter-spacing: 0.1rem;
    justify-content: center;
}

/*form of let connect*/
#connect{
    form{
        width: 20rem;
        padding-left: 3em;
        padding-right: 5.5em;
        padding-top: 3em;
        padding-bottom: 2em;
    }
    .connect-title{
        padding-bottom: 0.5em;
    }
    .connect-text{
        padding-left: 0em;
        padding-right: 4.5em;
        p{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 997px) {
    #introduction:before{
        padding-top: 15rem;
    }

    #connect{
        form{
            width: 50vw;
        }
        .connect-text{
            padding-right: 1em;
            padding-left: 1em;
        }
    }
}

/*intro title*/
.profile-intro-container{
    padding: 3em 1.5em 2em 1.5em;
    color: $primary-color-blackish;

}


.purple-hue-bg{
    background: #ae22c3;
    background: linear-gradient(0deg,rgba(174, 34, 195, 1) 0%, rgba(237, 57, 138, 1) 100%);
}

