/* color scheme of portfolio website */
$accent-color-gold:rgba(202, 158, 12, 0.9);
    $accent-color-purple: rgba(60, 12, 82, 0.9);
    $primary-color-white:whitesmoke;
    $primary-color-black: rgba(20, 20, 22,0.8);
    $primary-color-blackish:#1F1D24;

*{
    font-family: 'Lato', sans-serif;
    margin:0px;
    padding:0px;
}



/*projects*/
.card-deck{
    display: flex;
    
    .card{
        margin: 0.5em;
    }
    .card-body{
        background-color: #4E2362;
        color: #F5F5F5;
    }
    .card-footer{
        background-color: #4E2362;
        border: 0px solid transparent;
    }
}

.desc-title{
    width:50em;
}

/*quotes*/
.quotes:before{
    content:'\201C';
}

.quotes:after{
    content:'\201D';
}

/* button style */
.button{
    cursor: pointer;
    display: inline-flex;
    align-items: center; 
    isolation: isolate;
    position: relative;
    background: 0;
    position: relative;
    transition: color 400ms linear;
    padding: 0.7rem 0.7rem;

    span{
        margin-right:0.4em;
    }
}

.button-gold::after,.button-black::after{
    background-color:$accent-color-gold;
}


.button::after{
    content:'';
    inset:0;
    z-index:-1;
    position: absolute;
    transform: scale(0,1);
    transition: transform 800ms ease;
    transform-origin: left;
}

.button:hover::after,.button:focus::after,.button:active::after{
    transform: scale(1,1);
}

.button-gold{
    border:0.15em solid $accent-color-gold;
    color:$accent-color-gold;
}

.button-black{
    border: 0px solid transparent;
    background-color: $primary-color-blackish;
    color:$primary-color-white;
}

.button:hover,.button:focus::after{
    color: $primary-color-white;
}

.button-purple{
    border:0.242rem solid $accent-color-purple;
    color:  $accent-color-purple;
}

.button:active,.button:focus{
    text-decoration:underline 5px solid;
}

/* image */
.me{
    background-color: transparent;
    width: 28em;
}
.me-round{
    border-radius: 100%;
    min-width: 15em;
    max-width: 20em;
    image-rendering: optimizeQuality;
}

.icon{
    width:  calc(((0.7vh + 1rem) + (0.7vw + 1rem))/2);
    height: calc(((0.7vh + 1rem) + (0.7vw + 1rem))/2);
    margin:auto 0;
}

/*margin in division*/
.top-padding-none{
    padding-top:0px;
}
.top-padding-xsmall{
    padding-top:1.5em;
}
.top-padding-small{
    padding-top: 5em;
}

.top-padding-medium{
    padding-top: 10em;
}

.top-padding-large{
    padding-top: 15em;
}

.bottom-padding-none{
    padding-bottom:0px;
}
.bottom-padding-xsmall{
    padding-bottom:1.5em;
}
.bottom-padding-small{
    padding-bottom: 5em;
}

.bottom-padding-medium{
    padding-bottom: 10em;
}

.bottom-padding-large{
    padding-bottom: 15em;
}

.top-margin-none{
    margin-top:0px;
}
.top-margin-xsmall{
    margin-top:1.5em;
}
.top-margin-small{
    margin-top: 5em;
}

.top-margin-medium{
    margin-top: 10em;
}

.top-margin-large{
    margin-top: 15em;
}

.bottom-margin-none{
    margin-bottom:0px;
}
.bottom-margin-xsmall{
    margin-bottom:1.5em;
}

.bottom-margin-small{
    margin-bottom: 5em;
}

.bottom-margin-medium{
    margin-bottom: 10em;
}

.bottom-margin-large{
    margin-bottom: 15em;
}

/* carousel */

.main-carousel{
    background-color: $primary-color-blackish;
    height: 80%;
    .mx-auto{
        width: 70%;
    }
    button:hover{
        background-color: $primary-color-blackish;
    }

}

/* buttons of social media */
.social-media-buttons{
    text-align: center;
    a{
        margin-bottom:0.5em;
    }
    .btn-dark,.btn:hover{
        background-color: $primary-color-blackish;
        border: solid #1F1D24;
    }
}

/* intro */
.container-sm{
    padding: 0;
}


/*intro title*/
.profile-intro-container{
    padding: 3em 0.8em 2em 0.8em;
    background-color: $primary-color-blackish;
    color: $primary-color-white;
    text-align: center;
    .intro-title{
        margin-bottom: 0em;
    }
}

/* about me*/
.about-me{
    background: #ae22c3;
    background: linear-gradient(0deg,rgba(174, 34, 195, 1) 0%, rgba(237, 57, 138, 1) 100%);
}