{% block connect %}

    <div class="purple-hue-bg top-padding-medium bottom-padding-small d-flex flex-lg-row flex-column justify-content-center align-items-center" id="connect">
            
        {#  connect text #} 
        <div class="connect-text text-light top-margin-none bottom-margin-xsmall text-center top-padding-none bottom-padding-none text-lg-center">

            <p class="display-6 bottom-margin-none connect-title">{{ information['connect-title'] }}</p>

            {#  connect description #} 
            {% for desc in information['connect-description'] %}
                <p class="fs-5 bottom-margin-none padding-vertical-xxsmall">{{ desc['desc'] }}</p>
            {% endfor %}

            {# picture that correlated to the connect section #}
            <picture>
                <source srcset=" {{ url_for('static',filename=information['Let-Connect-Image']) | default(information['default-img']) }} " type="image/svg+xml">
                <img src=" {{ url_for('static',filename=information['Let-Connect-Image']) | default(information['default-img']) }} " draggable="false" class="card-img-top img-art " alt="..." >
            </picture>

        </div>

        {#  connect form #} 
        <form class=" border d-flex justify-content-evenly align-items-stretch bottom-margin-small flex-column bg-light" action="/" method="POST">
            
            {# csrf protection  #}
            {{ form.hidden_tag() }}

            <div class="form-floating mb-3">

                {{ form.email(class="form-control",
                              id="email",
                              placeholder="Email") }}

                {{ form.email.label(for="email") }}

            </div>
            <div class="form-floating mb-3">

                {{ form.name(class="form-control",
                             id="name",
                             placeholder="Fullname") }}

                {{ form.name.label(for="name") }}

            </div>
            <div class="form-floating mb-3">

                {{ form.subject(class="form-control",
                                id="subject",
                                placeholder="Subject") }}

                {{ form.subject.label(for="subject") }}

            </div>
            <div class="form-floating mb-3">

                {{ form.message(class="form-control",
                                id="message",
                                placeholder="Message") }}

                {{ form.message.label(for="message") }}

            </div>
                <button type="submit" draggable="false" class="w-100 btn button button-black button-text-center" rows="4" column="50">Let's Connect</button>
        </form>

    </div>

{% endblock %}