{% block content %}

    <footer class="text-lg-start text-light top-margin-none top-padding-small bottom-padding-xsmall padding-vertical-small black-bg " id="footer">
        {#  contact information and social media icon #} 
        <div class="container d-flex flex-lg-row flex-column">

            {#  contact information #} 
            <div class="container bottom-margin-xsmall">
                <p class="fs-5 text-uppercase bottom-padding-none">Contact Information</p>

                {# display the list of emails of the author #}
                {% for email in information['emails']%}
                    <p class="fs-5 bottom-margin-none"> {{ email }}</p>
                {% endfor %}

                {# display the phone number #}
                <p class="fs-5 bottom-margin-none top-margin-xxxsmall"> {{ information['phone-number'] }}</p>
            </div>

            {#  social media icon #} 
            <div class="container bottom-margin-xsmall">
                <p class="fs-5 text-uppercase bottom-padding-none">Social Media</p>
                {% for icon in information['social_media_icon'] %}
                    <a href="{{ url_for('external_links', name=icon['Name'], target=icon['Link']) | default('/error') }}" target="_blank" draggable="false" class=" align-items-center m-1 social-media-icon">
                        <span>
                            <img src="{{ url_for('static',filename=icon['Icon']) | default(information['default-img']) }}"  draggable="false" class = "icon" width="16" height="16"/>
                        </span>
                    </a>
                {% endfor %}
            
                            <p class="fs-6 bottom-margin-none top-margin-xsmall">&copy; 2022&ndash;{{ current_year }} {{ information['Author'] }}. All Rights Reserved.</p>
            </div>
        </div>
            
    </footer>

{% endblock %}