{% block content %}
    <div class="introduction  container-sm top-padding-large d-flex d-lg-flex flex-lg-row flex-column-reverse justify-content-center align-items-center" id="introduction">
        {#  profile picture #}
        <div class="profile-container">

            <picture>
                <source srcset=" {{ url_for('static',filename=information['Author-Picture']) | default(information['default-img']) }} " fetchpriority="high" type="image/svg+xml">
                <img src=" {{ url_for('static',filename=information['Author-Picture']) | default(information['default-img']) }} " draggable="false" class="img-fluid me" alt="...">
            </picture>

        </div>
        {#  profile introduction #}
        <div class="profile-intro-container fw-bolder text-center text-uppercase">

            <div class="bottom-padding-xsmall">
                <p class="h1 text-bold top-margin-xxsmall">{{ information['Title'] }}</p>
                <p class="fs-5 bottom-margin-none ">{{ information['Sub-title'] }}</p>
            </div>

            <div class="social-media-buttons">
                {% for icon in information['social_media_icon'] %}
                    <a href="{{ icon['Link'] | default('/error')}}" target="_blank" draggable="false" class=" btn btn-md btn-dark align-items-center">
                        <span>
                            <img src="{{ url_for('static',filename=icon['Icon']) | default(information['default-img']) }}" draggable="false" class = "icon" width="16" height="16"/>
                        </span>
                       {#  &nbsp;{{ icon['Name'] }} #} 
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}