{%  block content %}

    <div class="card-deck top-padding-medium bottom-padding-medium d-flex justify-content-center flex-wrap" id="projects">
        {% for project in information['Project_List'] %}
                {#  project item #} 
                <div class="card m-2 purple-hue-bg">

                    <picture>
                        <source srcset=" {{ url_for('static',filename=information['Default-Picture']) }} " type="image/svg+xml">
                        <img src=" {{ url_for('static',filename=information['Default-Picture']) }} " draggable="false" class="card-img-top" alt="...">
                    </picture>

                    <div class="card-body">

                        <h5 class="card-title bottom-padding-xxsmall ">{{ project['Name'] }}</h5>

                        <div class="d-flex flex-row flex-wrap bottom-padding-xxsmall">
                            {% for icon in project['img-icon'] %}
                                <img src="{{ url_for('static',filename=icon) }}" class = "programming-icon m-1" draggable="false" width="32" height="32"/>
                            {% endfor %}
                        </div>

                        <p class="card-text fs-6 text-justify text-wrap">{{ project['Description'] }}</p>

                    </div>

                    <div class="card-footer">
                        <a href=" {{ project['Link'] }} " target="_blank" draggable="false" class="btn button button-white right-margin-xsmall">Visit Repository</a>
                            
                        {# 
                             this validate if there's any website link on the repository
                             if there's then it will create a button for it for user to click and
                             visit that website
                        #} 
                        {% if project['website-link'] %}
                            <a href=" {{ project['website-link'] }} " target="_blank" draggable="false" class="btn button button-white">Visit Website</a>
                        {% endif%}

                    </div>

                </div>
        {% endfor %}
    </div>


{% endblock %}



